{% extends 'base.html' %}

{% block content %}
<div class="main-content project">
    <div class="row">
        <div class="col-12">
            <div class="main-title">
                Change Password
            </div>
            <div class="box">
                <div class="box-body">
                    <form method="post" action="{% url 'password_change' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 col-sm-12 mb-24">
                                <div class="form-group">
                                    <label class="form-label" for="{{ form.old_password.id_for_label }}">Old Password</label>
                                    {{ form.old_password }}
                                    {% if form.old_password.errors %}
                                        <div class="text-danger">{{ form.old_password.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 mb-24">
                                <div class="form-group">
                                    <label class="form-label" for="{{ form.new_password1.id_for_label }}">New Password</label>
                                    {{ form.new_password1 }}
                                    {% if form.new_password1.errors %}
                                        <div class="text-danger">{{ form.new_password1.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 mb-24">
                                <div class="form-group">
                                    <label class="form-label" for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
                                    {{ form.new_password2 }}
                                    {% if form.new_password2.errors %}
                                        <div class="text-danger">{{ form.new_password2.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="gr-btn mt-15">
                            <button type="submit" class="btn btn-primary btn-lg fs-16">Change Password</button>
                        </div>
                    </form>
                </div>
                <div class="text-center mt-3">
                    <a href="{% url 'dashboard' %}" class="btn btn-secondary btn-lg fs-16">Back to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}