{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools %}
<div class="submit-row">
    <div class="module" style="margin-bottom: 20px;">
        <h3>Export Filtered Businesses</h3>
        <form method="get" action="">
            {% for k, v in request.GET.items %}
                {% if k != 'export_format' %}
                    <input type="hidden" name="{{ k }}" value="{{ v }}">
                {% endif %}
            {% endfor %}
            
            <div style="display: flex; align-items: center; gap: 10px; margin: 10px;">
                <label for="export_format">Export Format:</label>
                <select name="export_format" id="export_format" style="padding: 5px;">
                    <option value="csv">CSV</option>
                    <option value="excel">Excel (.xlsx)</option>
                    <option value="json">JSON</option>
                </select>
                <button type="submit" class="button default" style="margin-left: 10px; padding:7px">
                    Export Data
                </button>
            </div>
        </form>
    </div>
</div>
{{ block.super }}
{% endblock %}

